@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,900;1,200;1,400;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: #cc2f2f;
    color: #fff;
}



/* Navigation */
nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 4vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav img{
    width: 100px;
    cursor: pointer;
}


/* -------------- */

nav .navigation ul{
    list-style: none;
}


nav .navigation ul li{
    position: relative;
    float: left;
}

nav .navigation ul li a{
    font-size: 22px;
    padding: 10px 20px;
    color: #333;
    display: block;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
nav .navigation ul li a i.fa-solid{
    display: none;
}
nav .navigation ul li a:hover{
    color: #fff;
}


nav .navigation ul li a.active,
nav .navigation ul li a:hover{
    color: #cc2f2f;
}

nav .navigation ul li div{
    position: absolute;
    left: 0;
    width: 300px;
    background: #fff;
    display: none;
}

nav .navigation ul li div li{
    width: 100%;
}

nav .navigation ul li div li ul{
    left: 200px;
    top: 0;
}

nav .navigation ul li:focus-within > div,
nav .navigation ul li:hover > div{
    display: initial;
}

#menu-bar1{
    display: none;
}

nav label{
    font-size: 30px;
    color: #333;
    cursor: pointer;
    display: none;
}

.logo{
    font-size: 22px;
    padding-left: 45%;
}


/* ------------------- */


/* Home */

#home{
    background-image: linear-gradient(rgba(47, 46, 40, 0.3),rgba(29, 4, 7, 0.532)),url(./img/coding-back2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: #e8e8e8;
    font-size: 80px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0px 8px 0px 8px;
}


#home span {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #e8e8e8;
    text-align: center;
    margin: 15px 8px 0px 18px;
}

#home .ho1{
    display: flex;
}

#home .ho1 p{
    width: 45%;
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    margin-top: 90px;
    margin-left: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: start;
}





/* ------------------- */

/* features */

#features{
    padding: 1vw 8vw 4vw 8vw;
    text-align: center;
}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1.9rem;
    margin-top: 50px;
}

#features .fea-box{
    background: #ffffff;
    text-align: start;
    padding: 20px 15px;
    border: 1px solid #acd6b2;
    border-radius: 25px;
    transition: 0.3s ease;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
}

#features .fea-box:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.3);
}


#features .fea-box h3{
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#features .fea-box p{
    padding-top: 10px;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 400;
    color: rgb(70, 70, 87);
    font-family: 'Source Sans Pro', sans-serif;
}


/* ----------About----------- */

#about-container{
    display: flex;
    align-items: center;
    padding: 8vw 2vw;
}

#about-container .about-img{
    width: 60%;
    padding-right: 60px;
}

#about-container .about-img img {
    width: 100%;
    border-radius: 10px;
}

#about-container .about-text{
    width: 60%;
    margin-left: 5%;
}

#about-container .about-text samp{
    color: #cc2f2f;
    font-size: 20px;
}

#about-container .about-text h1{
    color: #000000;
    padding-bottom: 15px;
    font-size: 38px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}

#about-container .about-text p{
    color: #000000;
    line-height: 23px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 34px;
}



/* ------Our Services-------- */

.title-text{
    text-align: center;
    padding-bottom: 70px;
}


.title-text h1{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}


.single-service:hover .overlay{
    opacity: 1;
}

.service-desc{
    width: 80%;
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.service-desc h2{
    font-size: 28px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif
}

hr{
    background: rgb(154, 35, 35);
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service-desc p{
    font-size: 18px;
    padding-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}



/* --------------------------- */

/* ------------Our Courses---------- */

#our-courses .vl {
    border-left: 2px solid #cc2f2f;
    height: 60px;
    margin: 2% 50% 2% 50%;
}

#our-courses .our-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#our-courses .fe-box{
    width: 140px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.3);
    border-radius: 4px;
    margin: 15px 60px;

}

#our-courses .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#our-courses .fe-box img {
    width: 50%;
    margin-bottom: 10px;
}


/* ======feature========== */

#feature{
    width: 100%;
    padding: 70px 0;
}



.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features{
    flex-basis: 50%;
}

.features-img{
    flex-basis: 50%;
    margin: auto;
}

.features-img img{
    width: 70%;
    border-radius: 10px;
}

.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100%;
    color: #cc2f2f;
}

.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .fa-shield-alt,.fa-check-square,.fa-rupee-sign{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #cc2f2f;
    /* border: 1px solid #009688; */
}

.feature-text p{
    padding: 0 20px;
    text-align: initial;
}

/* ============Responsive start ================== */

@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
    }

    .features{
        flex-basis: 100%;
    }

    .features-img{
        flex-basis: 100%;
    }

    .features-img img{
        width: 100%;
    }
}


/* ==========footer=========== */

#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: right;
}

.footer-row h1{
    margin: 10px 0;
}
 
.footer-row p{
    line-height: 35px;
}

.footer-left .icon-left,.footer-right .icon-right{
    font-size: 20px;
    color: #009688;
    /* margin: 10px; */
    align-items: center;
    margin-right: 10px;
}

.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social-links{
    text-align: center;
}

.social-links .links{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    /* border: 1px solid #009688; */
    margin: 40px 5px 0;
    color: #cc2f2f;
    cursor: pointer;
    transition: .5s;
}

.social-links .links:hover{
    background: #cc2f2f;
    color: #fff;
    transform: translateY(-7px);
}

.social-links p{
    font-size: 12px;
    margin-top: 20px;
}

.color-em{
    color: #cc2f2f;
}

.color-em::selection{
    background-color: #cc2f2f;
    color: #fff;
}

/* ============Responsive start ================== */
@media screen and (max-width: 770px){
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }

    .footer-img{
        top: 25%;
    }
}

.imp-ms {
    color: white;
    background-color: #ead201;
    padding: 20px;
    margin: 20px 40px;
    border-radius: 10px;
}

.imp-ms h2, h3{
    text-align: center;
}

.imp-ms p{
    line-height: normal!important ;
    font-size: 18px;
    font-weight: 500;
}

.imp-ms span{
    padding-right: 5px;
    color: #cc2f2f;
}


.about-text-1 .title-text-1{
    padding-bottom: 40px;
    padding-top: 50px;
}

.title-text-1 samp{
    margin: 5px auto;
    font-size: 20px;
    color: #12a52b;
    font-weight: 300;
    position: relative;
    display: inline-block;
}

.title-text-1 h1{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}


.title-text-2 h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

#ch-us-text .asty{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

#ch-us-text .asty a{
    text-decoration: none;
    background: #12a52b;
    color: #fff;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    border-radius: 40px;
}



@media(max-width:991px){
    nav{
        padding: 20px;
        transition: 0.9s ease;
    }

    nav .logo{
        padding-left: 25%;
    }

    #menu-bar1:checked ~ .navigation{
        display: initial;
    }

    #home h2 {
        color: #fff;
        font-size: 60px;
        margin: 250px 8px 0px 8px;
    }

    #home .ho1 {
        display: flex;
        flex-direction: column;
    }

    #home .ho1 p {
        width: 50%;
        color: #fff;
        font-size: 26px;
        line-height: 30px;
        margin-top: 50px;
    }

    #home .btn {
        margin-top: 50px;
        margin-left: -40px;
    }

    #home .ho1 a {
        font-size: 30px;
        font-weight: 500;
    }

    #about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vw 8vw 2vw 8vw;
        /* background-color: #e6e8e9e6; */
    }

    #about-container .about-img {
        width: 100%;
        padding-right: 60px;
    }

    #about-container .about-img img {
        width: 570px;
        padding-bottom: 30px;
    }

    #about-container .about-text {
        width: 100%;
        margin-left: 5%;
    }

    #about-container .about-text samp {
        color: #cc2f2f;
        font-size: 24px;
    }

    #about-container .about-text p {
        font-size: 22px;
    }

    #our-courses .our-box {
        justify-content: space-around;
    }

    #our-courses .fe-box {
        width: 550px;
    }

    #our-courses .fe-box h3 {
        font-size: 26px;
    }

    #our-courses .asty a {
        font-size: 30px;
        text-align: center;
        width: 50%;
    }
}


@media (max-width: 477px){

    nav {
        width: 485px;
    }

    #home {
        height: 90vh;
    }
    #home h2 {
        font-size: 25px;
        margin: 0px 8px 0px 8px;
    }

    #menu-bar1:checked ~ .navigation {
        display: initial;
        width: 374px;
    }

    #home span {
        font-size: 50px;
    }

    #home .ho1 p {
        width: 60%;
        font-size: 18px;
        margin-right: 450px;
    }

    #home .ho1 a {
        font-size: 15px;
        font-weight: 500;
        padding: 15px 30px;
    }

    #features .fea-base {
        grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    }

    #about-container {
        width: 373px;
    }

    #about-container .about-img img {
        width: 300px;
    }

    #about-container .about-text p {
        font-size: 20px;
        line-height: 28px;
    }

    .service-box {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media(min-width:1888px){
    nav {
        padding: 5vw 4vw;
    }

    .logo {
        font-size: 74px;
        padding-left: 37%;
    }

    #home h2 {
        font-size: 150px;
    }

    #home span {
        font-size: 130px;
    }

    #home .ho1 p {
        font-size: 64px;
        margin-top: 130px;
    }

    #home {
        height: 90vh;
    }

    #about-container .about-text {
        margin-left: 3%;
    }

    #about-container .about-text samp {
        font-size: 47px;
    }

    #about-container .about-text h1 {
        font-size: 50px;
        margin-top: 24px;
    }

    #about-container .about-text p {
        line-height: 45px;
        font-size: 35px;
    }

    .title-text h1 {
        font-size: 110px;
    }

    #our-courses .fe-box {
        width: 340px;
    }

    #our-courses .fe-box h6{
        font-size: 28px;
    }

    .title-text {
        text-align: center;
        padding-bottom: 110px;
    }

    .features h1 {
        font-size: 38px;
    }

    .feature-text p {
        font-size: 32px;
        font-weight: 400;
    }

    .imp-ms h2, h3 {
        font-size: 42px;
    }

    .imp-ms p {
        font-size: 38px;
    }

    .footer-row h1 {
        font-size: 48px;
    }
    .footer-row p {
        font-size: 38px;
        line-height: 68px;
    }
    .social-links p{
        font-size: 48px;
    }
}
